<div class="content-wrap pb-0">
  <div class="container">
    <div class="card mx-auto" style="max-width: 540px">
      <div class="card-header py-3 bg-transparent center">
        <h3 class="mb-0 fw-normal">Change password</h3>
      </div>
      <div class="card-body mx-auto py-5" style="max-width: 70%">
        <form
          id="login-form"
          name="login-form"
          class="mb-0 row"
          action="/change-password"
          method="post"
          onsubmit="return checkPasswordsMatch();"
        >
          <div class="col-12">
            <input
              type="text"
              id="login-form-email"
              name="email"
              value="<%= user.email%>"
              class="form-control not-dark"
              placeholder="Email"
              required
            />
          </div>

          <div class="col-12 mt-4">
            <input
              type="text"
              id="login-form-username"
              name="email"
              value="<%= user.username%>"
              class="form-control not-dark"
              placeholder="Username"
              required
            />
          </div>

          <div class="col-12 mt-4">
            <p id="password-error" style="color: red; display: none">
              Password must be at least 8 characters long.
            </p>
            <input
              type="password"
              id="login-form-password"
              value=""
              class="form-control not-dark"
              placeholder="New Password"
              required
            />
          </div>

          <div class="col-12 mt-4">
            <input
              type="password"
              id="login-form-confirm-password"
              name="password"
              value=""
              class="form-control not-dark"
              placeholder="Confirm Password"
              required
            />
          </div>

          <div class="col-12 mt-4">
            <button
              class="button w-100 m-0"
              id="login-form-submit"
              name="login-form-submit"
              value="login"
            >
              Change password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  // Function to check if new password and confirm password match
  function checkPasswordsMatch() {
    const newPassword = document.getElementById("login-form-password").value;
    const confirmPassword = document.getElementById(
      "login-form-confirm-password"
    ).value;
    const passwordError = document.getElementById("password-error");
    if (newPassword.length < 8) {
      passwordError.style.display = "block";
      return false; // Prevent form submission
    } else {
      passwordError.style.display = "none";
    }
    if (newPassword !== confirmPassword) {
      generateNotify("New password and confirm password do not match.");
      return false;
    }
    return true;
  }
</script>
