<link rel="stylesheet" href="./frontend/stylesheets/checkout.css" />
<div class="content-wrap pb-0">
  <div class="container">
    <h2>Checkout Form</h2>
    <div class="row">
      <div class="col-75">
        <div class="container">
          <form action="">
            <div class="row">
              <div class="col-50">
                <h3>Billing Address</h3>
                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                <input
                  type="text"
                  id="fname"
                  name="firstname"
                  placeholder="John M. Doe"
                />
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  placeholder="john@example.com"
                />
                <label for="adr"
                  ><i class="fa fa-address-card-o"></i> Address</label
                >
                <input
                  type="text"
                  id="adr"
                  name="address"
                  placeholder="542 W. 15th Street"
                />
                <label for="city"><i class="fa fa-institution"></i> City</label>
                <input
                  type="text"
                  id="city"
                  name="city"
                  placeholder="New York"
                />
              </div>

              <div class="col-50">
                <div id="section-payment-method" class="section">
                  <div class="section-header">
                    <h2 class="section-title">Payment methods</h2>
                  </div>
                  <div class="section-content">
                    <div class="content-box">
                      <div class="radio-wrapper content-box-row">
                        <label
                          class="radio-label"
                          for="payment_method_id_941686"
                        >
                          <div class="radio-input payment-method-checkbox">
                            <input
                              type="radio"
                              id="payment_method_id_941686"
                              class="input-radio"
                              name="payment_method_id"
                              value="941686"
                              checked=""
                            />
                          </div>
                          <div class="radio-content-input">
                            <img
                              class="main-img"
                              src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=4"
                            />
                            <div>
                              <span class="radio-label-primary">
                                Cash on delivery (COD)</span
                              >
                              <span class="quick-tagline hidden"></span>
                            </div>
                          </div>
                        </label>
                      </div>
                      <div class="radio-wrapper content-box-row">
                        <label
                          class="radio-label"
                          for="payment_method_id_1003608618"
                        >
                          <div class="radio-input payment-method-checkbox">
                            <input
                              type="radio"
                              id="payment_method_id_1003608618"
                              class="input-radio"
                              name="payment_method_id"
                              value="1003608618"
                            />
                          </div>
                          <div class="radio-content-input">
                            <img
                              class="main-img"
                              src="https://hstatic.net/0/0/global/design/seller/image/payment/other.svg?v=4"
                            />
                            <div>
                              <span class="radio-label-primary"
                                >Payment by cards</span
                              >
                              <span class="quick-tagline hidden"></span>
                            </div>
                          </div>
                        </label>
                      </div>
                      <div
                        class="radio-wrapper content-box-row content-box-row-secondary"
                        for="payment_method_id_1003608618"
                      >
                        <div class="blank-slate">
                          Tên Chủ Thẻ: Nguyễn Ngọc Hoàng Vy<br />
                          STK: 263470052<br />
                          Ngân hàng: VPBank chi nhánh Bà Chiểu<br />
                          Nội dung : Tên của bạn<br />
                          Sau khi chuyển khoản, vui lòng chụp lại thông tin và
                          gửi chúng mình qua Facebook hoặc Instagram để được xử
                          lý nhanh hơn ạ.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <label>
              <input type="checkbox" checked="checked" name="sameadr" />
              Shipping address same as billing
            </label>
            <input type="submit" value="Continue to checkout" class="btn" />
          </form>
        </div>
      </div>
      <div class="col-25">
        <div class="container">
          <h4>
            Cart
            <span class="price" style="color: black"
              ><i class="fa fa-shopping-cart"></i> <b>4</b></span
            >
          </h4>
          <div class="top-cart-item">
            <div class="top-cart-item-image">
              <a href="#"
                ><img
                  src="frontend/stylesheets/templates/shop/images/items/featured/5.jpg"
                  alt="Blue Shoulder Bag"
              /></a>
            </div>
            <div class="top-cart-item-desc">
              <div class="top-cart-item-desc-title">
                <a href="#" class="fw-normal">White athletic shoe</a>
                <span class="top-cart-item-price d-block">$35.00</span>
              </div>
              <div class="top-cart-item-quantity fw-semibold">x 1</div>
            </div>
          </div>
          <hr />
          <p>
            Total <span class="price" style="color: black"><b>$30</b></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
