<div class="content-wrap pb-0">
  <div class="container">
    <h2>Checkout Completed</h2>
    <div class="row">
      <div class="col-75">
        <div class="container">
          <div class="completed-message">
            <p>Thank you for your order!</p>
            <p>Your order has been successfully placed.</p>
          </div>
          <div class="completed-details">
            <h3>Order Details</h3>
            <p><strong>Description: </strong> <%= newOrder.description %></p>
            <p><strong>Create at: </strong> <%= newOrder.created %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
