<div class="content-wrap pb-0">
  <div class="container">
    <div class="card mx-auto" style="max-width: 540px">
      <div class="card-header py-3 bg-transparent center">
        <h3 class="mb-0 fw-normal">Forget password</h3>
      </div>
      <div class="card-body mx-auto py-5" style="max-width: 70%">
        <form
          id="login-form"
          name="login-form"
          class="mb-0 row"
          action="/forget-password"
          method="post"
        >
          <p id="log-error" style="color: red"><%= logError %></p>
          <% console.log(logError); %>
          <div class="col-12">
            <input
              type="text"
              id="login-form-username"
              name="email"
              value=""
              class="form-control not-dark"
              placeholder="Email"
              required
            />
          </div>

          <div class="col-12 mt-4">
            <button
              class="button w-100 m-0"
              id="login-form-submit"
              name="login-form-submit"
              value="login"
            >
              Verify to email
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer py-4 center">
        <p class="mb-0">
          Don't have an account?
          <a href="/form/register"><u>Sign up</u></a>
        </p>
      </div>
    </div>
  </div>
</div>
