<% actionHelper=(collection)=> {
    let actions = [
    { value: "", name: "Bulk Action" },
    { value: "change-status/active", name: "Active" },
    { value: "change-status/inactive", name: "InActive" },
    { value: "change-ordering/", name: "Change Ordering" },
    { value: "delete", name: "Delete" },
    ];
    let xhtmlAction = '';

    actions.forEach((action)=> {
    // let link = "admin" + '/' + collection + '/' + action.value;
    xhtmlAction += `<option value="${action.value}">${action.name}</option>`;
    });

    return `<div style="width: 100%;">
    <div class="zcontrols" style="display: inline-block;">
        <select name="action" class="form-control slbAction" style="width: auto; display: inline-block;">
            ${xhtmlAction}
        </select>
        <button class="btn btn-info btnAction" type="button" id="btn-action" value="btnAction" disabled style="display: inline-block;">Apply</button>
    </div>
    <a class="btn btn-success btn-lg float-right" href="/admin/items/form">Add items</a>
</div>
    `;
    }
    %>