<% statusHelper=(collection, status, id)=> {
    let statusClass = (status ==='active') ? "label-success" : "label-warning" ;
    %>
    <a href="javascript:changeStatus('<%= id %>','<%= status %>')">
        <span class="label <%= statusClass %>">
            <%= status %>
        </span>
    </a>
    <% } %>