<% imageForm=()=> { %>
<div class="form-group">
  <input
    type="file"
    class="filepond"
    name="imgs"
    multiple
  />
  <% if (item.id !== undefined && item.id !== '') { %>
    <label>Chosen image</label>
    <% if (Array.isArray(item.img)) { item.image.forEach((element) => { %> <%-
    imageHelper("backend/upload/product/", element, item.name,
    'img-avatar-form'); %> <% }); } else { %> <%-
    imageHelper("backend/upload/product/", item.img, item.name,
    'img-avatar-form'); %> <% } %>
  <% } %>
</div>

<script>
  FilePond.registerPlugin(
    // corrects mobile image orientation
    FilePondPluginImageExifOrientation,

    // previews dropped images
    FilePondPluginImagePreview
  );

  // Select the file input and use create() to turn it into a pond
  FilePond.create(document.querySelector(".filepond"));
</script>
<% } %>
