<% promoForm = () => {%>
<div class="form-group">
  <label for="promo-copyright">Colum 1:</label>
  <textarea
    class="form-control content_ckeditor"
    name="col_1"
    rows="2"
    id="content_ckeditor1"
  >
  <%= data.promo.col_1 %>
  </textarea>
</div>
<div class="form-group">
  <label for="promo-copyright">Colum 2:</label>
  <textarea
    class="form-control content_ckeditor"
    name="col_2"
    rows="2"
    id="content_ckeditor2"
  >
  <%= data.promo.col_2 %>
  </textarea>
</div>
<div class="form-group">
  <label for="promo-copyright">Colum 3:</label>
  <textarea
    class="form-control content_ckeditor"
    name="col_3"
    rows="2"
    id="content_ckeditor3"
  >
  <%= data.promo.col_3 %>
  </textarea>
</div>
<div class="form-group">
  <label for="promo-copyright">Colum 4:</label>
  <textarea
    class="form-control content_ckeditor"
    name="col_4"
    rows="2"
    id="content_ckeditor4"
  >
  <%= data.promo.col_4 %>
  </textarea>
</div>
<%} %>
