<div id="top-account" class="px-4">
  <div class="menu-item">
    <a href="/profile/<%= userInfo.id %>"><%= userInfo.username %></a
    ><a href="/logout/<%= userInfo.id %>">Logout</a>
  </div>
</div>
