<% logoComponent=()=> { %>
<div id="logo" class="me-lg-0">
  <a
    href="/"
    class="standard-logo"
    data-dark-logo="backend/upload/logo/logo.png"
    ><img src="backend/upload/logo/logo.png" alt="Canvas Logo"
  /></a>
  <a
    href="/"
    class="retina-logo"
    data-dark-logo="backend/upload/logo/logo-dark@2x.png"
    ><img src="backend/upload/logo/logo@2x.png" alt="Canvas Logo"
  /></a>
</div>
<% } %>
