<% logoComponent=(data)=> { %>
<div id="logo" class="me-lg-0">
  <a
    href="/"
    class="standard-logo"
    data-dark-logo="backend/upload/logo/<%= data.logo %>"
    ><img src="backend/upload/logo/<%= data.logo %>" alt="Canvas Logo"
  /></a>
  <a
    href="/"
    class="retina-logo"
    data-dark-logo="backend/upload/logo/<%= data.logo %>"
    ><img src="backend/upload/logo/<%= data.logo %>" alt="Canvas Logo"
  /></a>
</div>
<% } %>
