<div id="logo" class="me-lg-0">
  <a
    href="index.html"
    class="standard-logo"
    data-dark-logo="frontend/stylesheets/templates/store/images/logo-dark.png"
    ><img
      src="frontend/stylesheets/templates/store/images/logo.png"
      alt="Canvas Logo"
  /></a>
  <a
    href="index.html"
    class="retina-logo"
    data-dark-logo="frontend/stylesheets/templates/store/images/logo-dark@2x.png"
    ><img
      src="frontend/stylesheets/templates/store/images/logo@2x.png"
      alt="Canvas Logo"
  /></a>
</div>
