<div id="top-cart">
    <a href="#" id="top-cart-trigger" class="position-relative"
      ><i class="icon-line-bag"></i
      ><span class="top-cart-number">5</span></a
    >
    <div class="top-cart-content">
      <div class="top-cart-title">
        <h4>Shopping Cart</h4>
      </div>
      <div class="top-cart-items">
        <div class="top-cart-item">
          <div class="top-cart-item-image">
            <a href="#"
              ><img
                src="frontend/stylesheets/templates/shop/images/items/featured/5.jpg"
                alt="Blue Shoulder Bag"
            /></a>
          </div>
          <div class="top-cart-item-desc">
            <div class="top-cart-item-desc-title">
              <a href="#" class="fw-normal">White athletic shoe</a>
              <span class="top-cart-item-price d-block">$35.00</span>
            </div>
            <div class="top-cart-item-quantity fw-semibold">x 1</div>
          </div>
        </div>
        <div class="top-cart-item">
          <div class="top-cart-item-image">
            <a href="#" class="fw-normal"
              ><img
                src="frontend/stylesheets/templates/shop/images/items/featured/1.jpg"
                alt="Leather Bag"
            /></a>
          </div>
          <div class="top-cart-item-desc">
            <div class="top-cart-item-desc-title">
              <a href="#" class="fw-normal"
                >Round Neck Solid Light Blue Colour T-shirts</a
              >
              <span class="top-cart-item-price d-block">$12.49</span>
            </div>
            <div class="top-cart-item-quantity fw-semibold">x 2</div>
          </div>
        </div>
      </div>
      <div class="top-cart-action">
        <span class="top-checkout-price fw-semibold text-dark"
          >$59.98</span
        >
        <button class="button button-dark button-small m-0">
          View Cart
        </button>
      </div>
    </div>
  </div>