<% cartElement=(listCart)=>{
    if (listCart) {
    let innerHTML = ``;
    let total = 0;
    if (Array.isArray(listCart)) {
    listCart.forEach((cartItem) => {
    innerHTML += `<div class="top-cart-item">
        <div class="top-cart-item-image">
            <a href=""><img src="backend/upload/product/${cartItem.img[0]}" alt="${cartItem.name}" /></a>
        </div>
        <div class="top-cart-item-desc ">
            <div class="top-cart-item-desc-title">
                <a href="#" class="fw-normal">${cartItem.name}</a>
                <span class="top-cart-item-price d-block">$${cartItem.price}</span>
            </div>
            <div class="top-cart-item-quantity fw-semibold">x 1</div>
        </div>
    </div>`;
    total += cartItem.price;
    });
    
    return `<a id="top-cart-trigger" class="position-relative"><i class="icon-line-bag"></i><span
            class="top-cart-number">${listCart.length}</span></a>
    <div class="top-cart-content">
        <div class="top-cart-title">
            <h4>Shopping Cart</h4>
        </div>
        <div class="top-cart-items">${innerHTML}</div>
        <div class="top-cart-action">
            <span class="top-checkout-price fw-semibold text-dark">$${total}</span>
            <a class="button button-dark button-small m-0"> View Cart </a>
        </div>
    </div>`;}}
    } %>