<div class="content-wrap pb-0">
  <div class="container"><%- data.contact.description %></div>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15672.46592331262!2d106.78610164636272!3d10.878744378419142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a5f4e477e9%3A0x29d5aeb365cee20b!2sHCMC%20National%20University%20Dormitory%20Zone%20A!5e0!3m2!1sen!2s!4v1690696117945!5m2!1sen!2s"
  width="600"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
