<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title || "" %></title>

<!-- Google Font: Source Sans Pro -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<link rel="stylesheet" href="/backend/stylesheets/adminlte.min.css" />
<link rel="stylesheet" href="/backend/stylesheets/icheck-bootstrap.min.css" />
<link rel="stylesheet" href="/backend/stylesheets/custom.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<link rel="stylesheet" href="sweetalert2.min.css" />
<style>
  td,
  th {
    text-align: center;
    align-items: center;
  }

  td img {
    max-width: 5rem;
    max-height: 5rem;
  }
</style>
