<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title || "" %></title>

<!-- Google Font: Source Sans Pro -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<link rel="stylesheet" href="/backend/stylesheets/adminlte.min.css" />
<link rel="stylesheet" href="/backend/stylesheets/icheck-bootstrap.min.css" />
<link rel="stylesheet" href="/backend/stylesheets/custom.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<link rel="stylesheet" href="sweetalert2.min.css" />
<!-- add to document <head> -->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<link
  href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
  rel="stylesheet"
/>
<!-- FilePond library CSS -->
<link
  href="https://unpkg.com/filepond/dist/filepond.min.css"
  rel="stylesheet"
/>

<!-- FilePond library JavaScript -->
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

<!-- FilePond plugins -->
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
<style>
  td,
  th {
    text-align: center;
    align-items: center;
  }

  td img {
    max-width: 5rem;
    max-height: 5rem;
  }
</style>
