  * {
      box-sizing: border-box;
  }

  div.zcontrols {
      margin-bottom: 20px;
  }

  .tag-list {
      list-style-type: none;
      padding: 0;
  }

  .tag-list li {
      margin-bottom: 5px;
  }

  .tag-toggle {
      display: inline-block;
      padding: 5px 10px;
      background-color: #eee;
      color: #333;
      text-decoration: none;
  }

  .sub-tags {
      display: none;
      padding-left: 20px;
  }

  .sub-tags li {
      margin-bottom: 2px;
  }

  .sub-tags.open {
      display: block;
  }

  .disabled {
      pointer-events: none;
      cursor: default;
  }

  div.zcontrols select {
      width: 200px;
      display: inline-block;
  }

  li.active>a:first-child {
      color: #000;
  }

  .status-list {
      margin-bottom: 15px;
  }

  #icon-reload {
      float: right;
  }

  .input-group-btn a {
      color: white;
  }

  /* #pagination .panel-body{
    display: flex;
    justify-content: space-between;
} */
  #pagination .panel-heading span {
      float: right;
      margin-right: 10px;
      line-height: 15px;
  }

  .infor-pagination span {
      color: blue;
      font-weight: bold;
  }

  .infor-pagination {
      float: left;
  }

  .ad-pagination {
      float: right;
  }

  img.error-page-img {
      width: 800px;
  }

  /* size css */

  /* Swatch Container */
  .swatch {
      margin-bottom: 1.25em;
  }

  /* Swatch Header */
  .header.lang {
      margin-right: 0.3125em;
      width: 50%;
  }

  /* Swatch Close Button */
  .clickClose {
      width: 50%;
      display: flex;
      justify-content: flex-end;
  }

  /* Swatch Close Button Label */
  .clickClose .lang {
      font-size: 0.625em;
      cursor: pointer;
      font-weight: 400;
      color: #909090;
      text-decoration: underline;
  }

  /* Swatch Close Button Icon */
  .clickClose i {
      margin-left: 0.3125em;
  }

  /* Swatch Options Container */
  .select-swap {
      display: flex;
  }

  /* Swatch Option */
  .n-sd {
      margin-right: 0.625em;
  }

  /* Swatch Option Input */
  .n-sd input {
      display: none;
  }

  /* Swatch Option Label */
  .n-sd label {
      border: 1px solid #ddd;
      padding: 0.3125em 0.625em;
      cursor: pointer;
  }

  /* Swatch Option Label (selected) */
  .n-sd input:checked+label {
      border-color: #000;
  }

  /* Swatch Option Label Text */
  .n-sd span {
      font-size: 0.875em;
  }

  /* Style for the text inside the .adv-bottom */
  .adv-bottom h2 {
      margin: 0;
      /* Remove default margin */
  }

  /* On hover, stop the .adv-bottom animation */
  .adv-bottom:hover {
      animation-play-state: paused;
  }

  .hero {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      background-image: url();
      background-repeat: repeat;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: black;
      /* Cyberpunk highlight color */
      text-shadow: 0 0 4px #1ABC9C, 0 0 6px #1ABC9C;
      text-align: center;
      animation: marquee 30s infinite linear;
  }

  .highlight-text {
      /* Add your cyberpunk style here */
      font-size: 18px;
      font-weight: bold;
      color: #1ABC9C;
      /* Cyberpunk highlight color */
      text-shadow: 0 0 4px #1ABC9C, 0 0 6px #1ABC9C;
  }

  /* Styling for the marquee container */
  .adv-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35px;
      background-color: #1f1f1f;
      /* Dark background color */
      color: #ffcc00;
      /* Yellow text color */
      font-family: 'Roboto Condensed', sans-serif;
      /* Custom font for the text */
      font-size: 0.1rem;
      /* Add padding to the left and right of the text */
      box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
      /* Add a glow effect */
  }

  @keyframes marquee {
      0% {
          background-position: 0;
      }

      100% {
          background-position: -1190px;
      }
  }