  * {
      box-sizing: border-box;
  }

  div.zcontrols {
      margin-bottom: 20px;
  }

  .tag-list {
      list-style-type: none;
      padding: 0;
  }

  .tag-list li {
      margin-bottom: 5px;
  }

  .tag-toggle {
      display: inline-block;
      padding: 5px 10px;
      background-color: #eee;
      color: #333;
      text-decoration: none;
  }

  .sub-tags {
      display: none;
      padding-left: 20px;
  }

  .sub-tags li {
      margin-bottom: 2px;
  }

  .sub-tags.open {
      display: block;
  }

  .disabled {
      pointer-events: none;
      cursor: default;
  }

  div.zcontrols select {
      width: 200px;
      display: inline-block;
  }

  li.active>a:first-child {
      color: #000;
  }

  .status-list {
      margin-bottom: 15px;
  }

  #icon-reload {
      float: right;
  }

  .input-group-btn a {
      color: white;
  }

  /* #pagination .panel-body{
    display: flex;
    justify-content: space-between;
} */
  #pagination .panel-heading span {
      float: right;
      margin-right: 10px;
      line-height: 15px;
  }

  .infor-pagination span {
      color: blue;
      font-weight: bold;
  }

  .infor-pagination {
      float: left;
  }

  .ad-pagination {
      float: right;
  }

  img.error-page-img {
      width: 800px;
  }

  /* size css */
  
  /* Swatch Container */
  .swatch {
      margin-bottom: 1.25em;
  }

  /* Swatch Header */
  .header.lang {
      margin-right: 0.3125em;
      width: 50%;
  }

  /* Swatch Close Button */
  .clickClose {
      width: 50%;
      display: flex;
      justify-content: flex-end;
  }

  /* Swatch Close Button Label */
  .clickClose .lang {
      font-size: 0.625em;
      cursor: pointer;
      font-weight: 400;
      color: #909090;
      text-decoration: underline;
  }

  /* Swatch Close Button Icon */
  .clickClose i {
      margin-left: 0.3125em;
  }

  /* Swatch Options Container */
  .select-swap {
      display: flex;
  }

  /* Swatch Option */
  .n-sd {
      margin-right: 0.625em;
  }

  /* Swatch Option Input */
  .n-sd input {
      display: none;
  }

  /* Swatch Option Label */
  .n-sd label {
      border: 1px solid #ddd;
      padding: 0.3125em 0.625em;
      cursor: pointer;
  }

  /* Swatch Option Label (selected) */
  .n-sd input:checked+label {
      border-color: #000;
  }

  /* Swatch Option Label Text */
  .n-sd span {
      font-size: 0.875em;
  }