<div class="container-fluid topmargin">
  <div class="row">
    <%- include('./sidebar') %>
    <div class="col-md-10">
      <div class="row">
        <!-- Shop Item 1
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image position-relative">
              <div
                class="fslider"
                data-pagi="false"
                data-speed="400"
                data-pause="200000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/1-1.jpg"
                          alt="Black Shoe"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/1-2.jpg"
                          alt="Black Shoe"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html">Black Sports Shoe</a>
                </h3>
                <span><a href="#">Nike</a></span>
              </div>
              <div class="product-price"><ins>$21.49</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 2
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image position-relative">
              <div
                class="fslider"
                data-pagi="false"
                data-speed="400"
                data-pause="200000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/2-1.jpg"
                          alt="Sports Shoe"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/2-2.jpg"
                          alt="Sports Shoe"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html">Sports Shoe</a>
                </h3>
                <span><a href="#">Nike</a></span>
              </div>
              <div class="product-price"><ins>$21.49</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 3
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image position-relative">
              <div
                class="fslider"
                data-pagi="false"
                data-speed="400"
                data-pause="200000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/3-1.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/3-2.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/3-3.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/3-4.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html"
                    >Men Black Sweatshirt</a
                  >
                </h3>
                <span><a href="#">Sweatshirt</a></span>
              </div>
              <div class="product-price"><ins>$21.49</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 4
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image position-relative">
              <div
                class="fslider"
                data-pagi="false"
                data-speed="400"
                data-pause="200000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/4-1.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/4-2.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html">Roundneck T-shirt</a>
                </h3>
                <span><a href="#">T-shirt</a></span>
              </div>
              <div class="product-price"><ins>$21.49</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 5
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image position-relative">
              <div
                class="fslider"
                data-pagi="false"
                data-speed="400"
                data-pause="200000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/5-1.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/5-2.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html">Women Sports Pant</a>
                </h3>
                <span><a href="#">Trousers</a></span>
              </div>
              <div class="product-price"><ins>$21.49</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 6
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image position-relative">
              <div
                class="fslider"
                data-pagi="false"
                data-speed="400"
                data-pause="200000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/6-1.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/6-2.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html"
                    >Men White Escaper SL Running Sports Shoes</a
                  >
                </h3>
                <span><a href="#">Sports Shoes</a></span>
              </div>
              <div class="product-price"><ins>$21.49</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 7
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image position-relative">
              <div
                class="fslider"
                data-arrows="false"
                data-pagi="false"
                data-speed="400"
                data-pause="6000"
                data-thumbs="true"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div
                      class="slide"
                      data-thumb="frontend/stylesheets/templates/store/images/product/7-1.jpg"
                    >
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/7-1.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div
                      class="slide"
                      data-thumb="frontend/stylesheets/templates/store/images/product/7-2.jpg"
                    >
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/7-2.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div
                      class="slide"
                      data-thumb="frontend/stylesheets/templates/store/images/product/7-3.jpg"
                    >
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/7-3.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html"
                    >The Cotton Weave Shirtdress</a
                  >
                </h3>
                <span><a href="#">Women Dress</a></span>
              </div>
              <div class="product-price"><ins>$78</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 8
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image">
              <a href="demo-store-product-single.html"
                ><img
                  src="frontend/stylesheets/templates/store/images/product/8-1.jpg"
                  alt="Morning Dew"
              /></a>
              <a href="demo-store-product-single.html"
                ><img
                  src="frontend/stylesheets/templates/store/images/product/8-2.jpg"
                  alt="Morning Dew"
              /></a>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html"> Navi Blue Jeans</a>
                </h3>
                <span><a href="#">Denim</a></span>
              </div>
              <div class="product-price"><ins>$78</ins></div>
            </div>
          </div>
        </div>

        <!-- Shop Item 9
              ============================================= -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="product">
            <div class="product-image">
              <div
                class="fslider"
                data-pagi="false"
                data-speed="400"
                data-pause="200000"
              >
                <div class="flexslider">
                  <div class="slider-wrap">
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/9-1.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/9-2.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                    <div class="slide">
                      <a href="demo-store-product-single.html"
                        ><img
                          src="frontend/stylesheets/templates/store/images/product/9-3.jpg"
                          alt="Morning Dew"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="cart-btn button button-white button-light"
                ><i class="icon-line-plus"></i>Add to Cart</a
              >
            </div>
            <div class="product-desc">
              <div class="product-title">
                <h3>
                  <a href="demo-store-product-single.html"> Navi Blue Jeans</a>
                </h3>
                <span><a href="#">Denim</a></span>
              </div>
              <div class="product-price"><ins>$78</ins></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
