<div class="container-fluid">
  <div class="mx-auto center bottommargin" style="max-width: 700px">
    <h2>Fresh Collection of 2019</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
      aspernatur repudiandae nobis earum voluptate id adipisci nostrum mollitia,
      ipsam, asperiores, soluta dolorem facere exercitationem laborum. Magni
      mollitia laudantium vel tempore.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-4 mb-5">
      <div class="card cat-card rounded-0 border-0 dark">
        <img
          src="frontend/stylesheets/templates/store/images/cat/outerwear.jpg"
          class="card-img rounded-0"
          alt="..."
        />
        <div class="d-flex align-items-start flex-column card-img-overlay p-4">
          <h3 class="h3 text-white ls--1 fw-bold mt-2 mb-auto">50% Off</h3>
          <h3 class="h2 text-white ls--1 fw-bold mb-4">Outerwear</h3>
          <p>
            This is a wider card as a natural lead-in to additional content.
            This content is a little bit longer.
          </p>
          <a
            href="demo-store-products.html"
            class="button button button-white button-light ms-0"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card cat-card rounded-0 border-0 dark">
        <img
          src="frontend/stylesheets/templates/store/images/cat/footwear.jpg"
          class="card-img rounded-0"
          alt="..."
        />
        <div
          class="d-flex align-items-start flex-column card-img-overlay bg p-4"
        >
          <h3 class="h3 text-white ls--1 fw-bold mt-2 mb-auto">50% Off</h3>
          <h3 class="h2 text-white ls--1 fw-bold mb-4">Footwear</h3>
          <p>
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a
            href="demo-store-products.html"
            class="button button button-white button-light ms-0"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card cat-card rounded-0 border-0 dark">
        <img
          src="frontend/stylesheets/templates/store/images/cat/workout.jpg"
          class="card-img rounded-0"
          alt="..."
        />
        <div
          class="d-flex align-items-start flex-column card-img-overlay bg p-4"
        >
          <h3 class="h3 text-white ls--1 fw-bold mt-2 mb-auto">30% Off</h3>
          <h3 class="h2 text-white ls--1 fw-bold mb-4">Sportswear</h3>
          <p>
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a
            href="demo-store-products.html"
            class="button button button-white button-light ms-0"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
