<% promoComponent=(data)=> { %>
<div class="section mt-0 mb-0" style="padding: 80px 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <%- data.promo.col_1 %>
      </div>
      <div class="col-md-3 col-sm-6">
        <%- data.promo.col_2 %>
      </div>
      <div class="col-md-3 col-sm-6">
        <%- data.promo.col_3 %>
      </div>
      <div class="col-md-3 col-sm-6">
        <%- data.promo.col_4 %>
      </div>
    </div>
  </div>
</div>
<% } %>
