<div class="col-md-2 sticky-sidebar-wrap">
    <ul class="list-unstyled items-nav sticky-sidebar">
        <li><a href="#" class="text-dark fw-semibold">All Collections</a></li>
        <li class="no-divider"><a href="#" class="text-dark fw-semibold">New Arrivals</a></li>
        <li><hr></li>
        <li><a href="#">Jeans</a></li>
        <li><a href="#">T-Shirts</a></li>
        <li><a href="#">Tops</a></li>
        <li><a href="#">Dresses</a></li>
        <li><a href="#">Skirts</a></li>
        <li><a href="#">Sportswear</a></li>
        <li><a href="#">Shorts</a></li>
        <li><a href="#">Trousers</a></li>
        <li><a href="#">Sweat-shirts</a></li>
        <li><a href="#">Sweaters</a></li>
        <li><a href="#">Flats</a></li>
        <li><a href="#">Sandals</a></li>
        <li><a href="#">Loafers & Oxfords</a></li>
        <li><a href="#">Heels</a></li>
    </ul>
</div>