<div class="col-md-2 sticky-sidebar-wrap">
  <ul class="list-unstyled items-nav sticky-sidebar">
    <li><a href="/" class="text-dark fw-semibold">All Collections</a></li>
    <li class="no-divider">
      <a href="/" class="text-dark fw-semibold">New Arrivals</a>
    </li>
    <li><hr /></li>
    <% categoryArticle.forEach((item)=>{%>
    <li><a href="javascript:changeCategoryProduct('<%= item._id %>')"> <%=item.name %></a></li>
    <%}) %>
  </ul>
</div>
