<!-- Copyrights
============================================= -->
<div id="copyrights">

  <div class="container-fluid clearfix">

    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        Copyrights &copy; 2014 All Rights Reserved by <%= data.privacy.copyright %>.<br>
        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
      </div>

      <div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">
        <ul class="list-unstyled d-flex flex-row mb-2 clearfix">
          <li class="me-2"><img src="backend/upload/logo/visa.svg" alt="Visa" width="34"></li>
          <li class="me-2"><img src="backend/upload/logo/mc.svg" alt="Master Card" width="34"></li>
          <li class="me-2"><img src="backend/upload/logo/ae.svg" alt="American Express" width="34"></li>
          <li class="me-2"><img src="backend/upload/logo/pp.svg" alt="PayPal" width="34"></li>
          <li class="me-2"><img src="backend/upload/logo/sk.svg" alt="Skrill" width="34"></li>
          <li class="me-2"><img src="backend/upload/logo/2co.svg" alt="2CheckOut" width="34"></li>
          <li class="me-2"><img src="backend/upload/logo/wu.svg" alt="Western Union" width="34"></li>
        </ul>
        <div class="copyrights-menu copyright-links clearfix">
          <a href="#">About</a>/<a href="#">Features</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
        </div>
      </div>
    </div>
  </div>

</div><!-- #copyrights end -->
