<div class="container-fluid">

  <!-- Footer Widgets
  ============================================= -->
  <div class="footer-widgets-wrap pb-5">

    <div class="row">

      <div class="col-lg-2 col-md-3 col-6">
        <div class="widget">

          <h4 class="ls0 mb-3 nott">Features</h4>

          <ul class="list-unstyled iconlist ms-0">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Paid with Moblie</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">Changelog</a></li>
            <li><a href="#">Contact Support</a></li>
          </ul>

        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <div class="widget">

          <h4 class="ls0 mb-3 nott">Support</h4>

          <ul class="list-unstyled iconlist ms-0">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <div class="widget">

          <h4 class="ls0 mb-3 nott">Trending</h4>

          <ul class="list-unstyled iconlist ms-0">
            <li><a href="#">Shop</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Forums</a></li>
          </ul>

        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <div class="widget">

          <h4 class="ls0 mb-3 nott">Get to Know us</h4>

          <ul class="list-unstyled iconlist ms-0">
            <li><a href="#">Corporate</a></li>
            <li><a href="#">Agency</a></li>
            <li><a href="#">eCommerce</a></li>
            <li><a href="#">Personal</a></li>
            <li><a href="#">OnePage</a></li>
          </ul>

        </div>
      </div>

    </div>

  </div><!-- .footer-widgets-wrap end -->

</div>

<!-- Copyrights
============================================= -->
<div id="copyrights">

  <div class="container-fluid clearfix">

    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
      </div>

      <div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">
        <ul class="list-unstyled d-flex flex-row mb-2 clearfix">
          <li class="me-2"><img src="demos/xmas/images/cards/visa.svg" alt="Visa" width="34"></li>
          <li class="me-2"><img src="demos/xmas/images/cards/mc.svg" alt="Master Card" width="34"></li>
          <li class="me-2"><img src="demos/xmas/images/cards/ae.svg" alt="American Express" width="34"></li>
          <li class="me-2"><img src="demos/xmas/images/cards/pp.svg" alt="PayPal" width="34"></li>
          <li class="me-2"><img src="demos/xmas/images/cards/sk.svg" alt="Skrill" width="34"></li>
          <li class="me-2"><img src="demos/xmas/images/cards/2co.svg" alt="2CheckOut" width="34"></li>
          <li class="me-2"><img src="demos/xmas/images/cards/wu.svg" alt="Western Union" width="34"></li>
        </ul>
        <div class="copyrights-menu copyright-links clearfix">
          <a href="#">About</a>/<a href="#">Features</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
        </div>
      </div>
    </div>

  </div>

</div><!-- #copyrights end -->