<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SemiColonWeb" />

<!-- Stylesheets
============================================= -->
<link
  href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/bootstrap.css"
  type="text/css"
/>
<link rel="stylesheet" href="frontend/stylesheets/style1.css" type="text/css" />
<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/swiper.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/dark.css"
  type="text/css"
/>

<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/font-icons.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/animate.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/magnific-popup.css"
  type="text/css"
/>

<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/custom.css"
  type="text/css"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />


<!-- Store Theme Color -->
<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/store/css/fonts.css"
  type="text/css"
/>
<!-- Store Theme Font -->
<link
  rel="stylesheet"
  href="frontend/stylesheets/templates/store/store.css"
  type="text/css"
/>
<!-- Store Theme Custom CSS -->

<!-- / -->
<!-- Document Title
============================================= -->
<title>Store | Canvas</title>
