<div class="slider-inner">

    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide dark">
                <div class="container">
                    <div class="slider-caption">
                        <h2 data-animate="fadeInUp">Premium Classic Shoe</h2>
                        <p class="mb-4" data-animate="fadeInUp" data-delay="100">A New Collection of Summer 2019.</p>
                        <div>
                            <a href="demo-store-products.html" data-animate="fadeInUp" data-delay="200" class="button button-large button-white button-light">Shop Men</a>
                            <a href="demo-store-products.html" data-animate="fadeInUp" data-delay="200" class="button button-large button-white button-light">Shop Women</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide-bg" style="background-image: url('frontend/stylesheets/templates/store/images/slider/1.jpg');"></div>
            </div>
            <div class="swiper-slide dark">
                <div class="container">
                    <div class="slider-caption">
                        <h2 data-animate="fadeInUp">New Sports Collection</h2>
                        <p class="mb-4" data-animate="fadeInUp" data-delay="100">Black &amp; White Collections</p>
                        <div>
                            <a href="demo-store-products.html" data-animate="fadeInUp" data-delay="200" class="button button-large button-white button-light">Shop Men</a>
                            <a href="demo-store-products.html" data-animate="fadeInUp" data-delay="200" class="button button-large button-white button-light">Shop Women</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide-bg" style="background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.6)), url('frontend/stylesheets/templates/store/images/slider/2.jpg');"></div>
            </div>
            <div class="swiper-slide dark">
                <div class="container">
                    <div class="slider-caption">
                        <h2 data-animate="fadeInUp">Latest Sweatshirts</h2>
                        <p class="mb-4" data-animate="fadeInUp" data-delay="100">Collections for Summer Clothes</p>
                        <div>
                            <a href="demo-store-products.html" data-animate="fadeInUp" data-delay="200" class="button button-large button-white button-light">Shop Men</a>
                            <a href="demo-store-products.html" data-animate="fadeInUp" data-delay="200" class="button button-large button-white button-light">Shop Women</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide-bg" style="background-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.3)), url('frontend/stylesheets/templates/store/images/slider/3.jpg');"></div>
            </div>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
        <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
    </div>

    <div class="social-icons">
        <a href="#" class="social-icon si-small si-borderless si-rounded si-facebook">
            <i class="icon-facebook text-white-50"></i>
            <i class="icon-facebook"></i>
        </a>
        <a href="#" class="social-icon si-small si-borderless si-rounded si-instagram">
            <i class="icon-instagram text-white-50"></i>
            <i class="icon-instagram"></i>
        </a>
        <a href="#" class="social-icon si-small si-borderless si-rounded si-youtube">
            <i class="icon-youtube text-white-50"></i>
            <i class="icon-youtube"></i>
        </a>
    </div>

</div>