<div class="slider-inner">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <% slider.forEach(item => { %>
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp"><%= item.name %></h2>
                            <%- item.content %>
                            <div>
                                <a href="demo-store-products.html" data-animate="fadeInUp" data-delay="200" class="button button-large button-white button-light">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('backend/upload/slider/<%=item.thumb %>');"></div>
                </div>
                <%}) %>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
        <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
    </div>

    <div class="social-icons">
        <a href="<%= data.contact.facebook %>" class="social-icon si-small si-borderless si-rounded si-facebook">
            <i class="icon-facebook text-white-50"></i>
            <i class="icon-facebook"></i>
        </a>
    </div>

</div>