<% 
    selectboxHelper = (name, items, optionSelected = '') => {
        let xhtml = '';
        items.forEach((item) =>{
            let selected = (item.id == optionSelected) ? `selected="selected"` : '';
            let id       = (item.id == undefined) ? 'allvalue' : item.id;
            xhtml += `<option value="${id}" ${selected} >${item.name}</option>`;
        });

        return `<select name="${name}" class="form-control" >${xhtml}</select>`;
    }
%>

