<% 
    selectboxHelper = (name, items, optionSelected = '') => {
        let xhtml = '<option value="" selected disabled hidden>Choose here</option>';
        items.forEach((item) => {
        let selected = (item.id == optionSelected) ? `selected="selected"` : '';
        let id = (item.id == undefined) ? 'allvalue' : item.id;
        xhtml += `<option value="${id}" ${selected}>${item.name}</option>`;
    });

        return `<form id="categoryForm" method="GET" action="/admin/article/filter-category">
            <select name="${name}" class="form-control" onchange="submitCategoryForm()">
              ${xhtml}
            </select>
          </form>`;
};

%>

