<div class="card direct-chat direct-chat-primary">
  <div class="card-header ui-sortable-handle" style="cursor: move">
    <h3 class="card-title">Direct Chat</h3>
    <div class="card-tools">
      <!-- <span title="3 New Messages" class="badge badge-primary">3</span> -->
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button
        type="button"
        class="btn btn-tool"
        title="Contacts"
        data-widget="chat-pane-toggle"
      >
        <i class="fas fa-comments"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

  <div class="card-footer">
    <form>
      <div class="input-group">
        <input
          type="text"
          name="message"
          placeholder="Type Message ..."
          class="form-control"
        />
        <span class="input-group-append">
          <button type="button" class="btn btn-primary" onclick="sendMessage()">
            Send
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
