<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-header">
          <h3 class="card-title">Bordered Table</h3>
        </div> -->

        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <!-- <th style="width: 10px">#</th> -->
                <th style="width: 12px">Select</th>
                <th>Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="option1"
                      value="something"
                      checked
                    />
                  </div>
                </td>
                <td>Update software</td>
                <td>Active</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
